.row.wrapper
  .col.col-lg-12.title.headline
    h1.big-title
      | Contact
    p
      | God a question? Complete the form below. We'll get back to you.
    br
   .col.col-lg-12
    form#contact(action='https://formspree.io/R.Treharne@liverpool.ac.uk', method='POST')
      input(type='text', name='name', placeholder='Name')
      br
      input(type='email', name='_replyto', placeholder='Email')
      br
      textarea(type='tex', name='_message', placeholder='Type message here ...' )
      br
      input.btn.btn-primary(type='submit', value='Send')

    br
