.row
  .col.col-lg-offset-6.col-lg-6
    p -- What?
    h1.big-title
      | We deliver
      font.pink  bespoke
      |  coding workshops
    p
      b
        | Highly interactive sessions taylored to the needs of
        font.pink  your cohort
        |.
    p
      | We are experts at providing introductory training sessions for the
      | Python coding language. Our workshops rely heavily on a
      font.pink  learn by doing
      |  approach to coding.
    p
      | All students who attend our workshops join our
      b  cdt
      | Py
      font.pink  network
      |  and receive support from us throughout their doctoral training.
    a(href="#contact")
      | Get in
      b  contact
      |  with us now to book your workshop.
