doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title HiPy - Come All. Learn Code.
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='HiPy is an open, welcoming grass-roots initiative that aims to introduce anyone and everyone to Python. For free.')
    meta(name='keywords', content='Python, coding, Liverpool, community, data, employability')
    meta(property='og:image', content='https://github.com/rtreharne/HiPyProject/blob/master/docs/img/card.png?raw=true')
    meta(property='og:description', content='HiPy is an open, welcoming grass-roots initiative that aims to introduce anyone and everyone to Python. For free.')
    meta(property='og:title', content='HiPy - Come All. Learn Code. For Free.')

    meta(name='twitter:card', content='summary_large_image')
    meta(name='twitter:site', content='@hipyliv')
    meta(name='twitter:title', content='HiPy - Come All. Learn Code. For Free')
    meta(name='twitter:description', content='HiPy is an open, welcoming, grass-roots community of people at the Universty of Liverpool who want to increase their employability by learning coding skills. Our events are open to everyone and are absolutely free')
    meta(name='twitter:image', content='https://pbs.twimg.com/profile_images/750461851385946112/AXY6sC_C_400x400.jpg')
    meta(name='twitter:image:alt', content='HiPy logo')


    link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css', rel='stylesheet')
    link(href="css/basic.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")

    //if lt IE 9
      script(src='//html5shim.googlecode.com/svn/trunk/html5.js')

  body
    //
      .navbar.navbar-default.navbar-fixed-top
        .container
          .navbar-header

            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')

              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='#main')
              b cdt
              font.pink Py
              font(style="font-size:0.5em") .org
          .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#why') why
              li
                a(href='#how') what

              li
                a(href='#contact') contact


    //

    .container#main.full-height.vertical-center.headline
      .row
        .col.col-lg-offset-2.col-lg-8
          .text-left
            include main.jade


    .container#why.full-height.vertical-center
      .row
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include why.jade

    .container#contact.full-height.vertical-center
      .row
        .col.col-lg-offset-1.col-lg-10
          .text-left
            include contact.jade




    .container#footer.vertical-center
      .row
        .col.col-lg-12
          .text-center
            include footer.jade

    a(href='#main')
      #fixedbtn-up
        .inner-fixedbtn-up
          i.fas.fa-arrow-up.fa-2x

    a(href='#contact')
      #fixedbtn-reg
        .inner-fixedbtn-reg Contact Us

    a(href="https://twitter.com/hipyliv" target="_blank")
      #fixedbtn-twitter
        .i.fab.fa-twitter.fa-2x

    a(href="https://github.com/HiPyLiv/HiPyProject" target="_blank")
      #fixedbtn-github
        .i.fab.fa-github.fa-2x



    .nav-bottom
        a(href="https://twitter.com/hipyliv" target="_blank")
          .nav-box
            .i.fab.fa-twitter

        a(href="https://github.com/HiPyLiv/HiPyProject" target="_blank")
          .nav-box
            .i.fab.fa-github

        a(href="#contact")
          .nav-box
            .i.fa.fa-envelope

        a(href="#main")
          .nav-box
            .i.fas.fa-arrow-up






    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    script(type='text/javascript', src='js/scrolling.js')
    script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js')
    // JavaScript jQuery code from Bootply.com editor
    script(type='text/javascript').
      $(document).ready(function() {
      });
    script.
      var right = $(".right-bg");
      var left = $(".left-bg");
      right.css({
        "background-position": (right.width()*.66) + "px " + "0px"
      });
      left.css({
        "background-position": (-left.width()*.66) + "px " + "0px"
      });
    script.
      $("#sat-btn").click(function(){
      $("#saturday").show();
      $("#friday").hide();
      $("#sunday").hide();
      });
      $("#fri-btn").click(function(){
      $("#friday").show();
      $("#saturday").hide();
      $("#sunday").hide();
      });
      $("#sun-btn").click(function(){
      $("#saturday").hide();
      $("#friday").hide();
      $("#sunday").show();
      });
