.row.wrapper
  .col.col-lg-6.title.headline
    h1.big-title.main-title
      | Join the
      font.pink  Hive
      | .
    p
      b  Come All. Learn Code.
    br

    p
      b HiPy
      |  is an open, grass-roots community of people dedicated to
      |  introducing
      b  anyone
      |  and
      b  everyone
      |  to coding.
    p
      | All our events are for
      b  absolute beginners
      |  and are designed specifically to get you coding as
      |  quickly as possible with zero nonsense.




  .col.col-lg-6.title.headline
    h2.big-title Upcoming Events
    p.event Register now
    br

    p.event
      a(href="https://www.eventbrite.com/e/hipy-tickets-72762305013", target="_blank")
        b 25 Sep 2019.
        |  17.00 - 19-00.
        b  Introduction to Python.

    p.event
      a(href="https://www.eventbrite.com/e/hipy-tickets-72762307019", target="_blank")
        b 23 Oct 2019.
        |  17.00 - 19-00.
        b  Introduction to Python.

    p.event
      a(href="https://www.eventbrite.com/e/hipy-tickets-72762309025", target="_blank")
        b 27 Nov 2019.
        |  17.00 - 19-00.
        b  Introduction to Python.

    p.event
      a(href="https://www.eventbrite.com/e/hipy-tickets-72762311031", target="_blank")
        b 29 Jan 2020.
        |  17.00 - 19-00.
        b  Introduction to Python.

    p.event
      a(href="https://www.eventbrite.com/e/hipy-tickets-72762313037", target="_blank")
        b 26 Feb 2020.
        |  17.00 - 19-00.
        b  Introduction to Python.

    p.event
      a(href="https://www.eventbrite.com/e/hipy-tickets-72762315043", target="_blank")
        b 25 Mar 2020.
        |  17.00 - 19-00.
        b  Introduction to Python.

.row.wrapper
  .col.col-lg-12.center
    br
    a.btn-primary#start( href="#why" ) Start Coding
    a.btn-primary#menu( href="https://github.com/HiPyLiv/TheHiPyMenu", target="_blank" ) View Menu
