.row.wrapper
  .col.col-lg-6.title.headline
    h1.big-title.main-title
      | Join the
      font.pink  Hive
      | .
    p
      b  Come All. Learn Code.
    br

    p
      b HiPy
      |  is an open, grass-roots community of people dedicated to
      |  introducing
      b  anyone
      |  and
      b  everyone
      |  to coding.
    p
      | All our events are for
      b  absolute beginners
      |  and are designed specifically to get you coding as
      |  quickly as possible with zero nonsense.

  .col.col-lg-6.title.headline
    h2.big-title Upcoming Events
    p.event Register now
    br


    p.event
      a(href="https://www.eventbrite.com/e/hellopython-tickets-48283095037?aff=ebdshpsearchautocomplete&janus_fv=exp_eb_86972_related_events%3DA" target="_blank")

        b 28 Nov.
        |  15.00 - 18.00.
        b  Hello Python.
        |  University of Liverpool.

    p.event
      a(href="https://www.eventbrite.com/e/learn-arduino-tickets-52396015894" target="_blank")

        b 28 Nov.
        |  15.00 - 18.00.
        b  Learn Arduino.
        |  University of Liverpool.

    p.event
      a(href="https://www.eventbrite.com/e/a-hipy-christmas-tickets-52392933675" target="_blank")
        b 14 Dec.
        |  15.00 - 18.00.
        b  A HiPy Christmas.
        |  University of Liverpool

.row.wrapper
  .col.col-lg-12.center
    br
    a.btn-primary#start( href="#why" ) START
