.row.wrapper
  .col.col-lg-6.title.headline
    h1.big-title.main-title
      | Join the
      font.pink  Hive
      | .
    p
      b  Come All. Learn Code.
    br

    p
      b HiPy
      |  is an open, grass-roots community of people dedicated to
      |  introducing
      b  anyone
      |  and
      b  everyone
      |  to coding.
    p
      | All our events are for
      b  absolute beginners
      |  and are designed specifically to get you coding as
      |  quickly as possible with zero nonsense.

  .col.col-lg-6.title.headline
    h2.big-title Upcoming Events
    p.event Register now
    br

    p.event
      a(href="https://www.eventbrite.com/e/hellopython-tickets-48283318706" target="_blank")
        b 27 Feb.
        |  15.00 - 18.00.
        b  Hello Python.
        |  University of Liverpool

    p.event
      a(href="https://www.eventbrite.com/e/hellopython-tickets-48283319709" target="_blank")
        b 27 Mar.
        |  15.00 - 18.00.
        b  Hello Python.
        |  University of Liverpool

.row.wrapper
  .col.col-lg-12.center
    br
    a.btn-primary#start( href="#why" ) START
