h1.big-title register
br
a(href="")
  p.register
    | Register now using
    b  Eventbrite
    img(src='../img/eventbrite.png', style="width: 200px;")
br
p
  | Are you a Centre for Doctoral Training or another cohort based Centre?
  br
  br
  | Get in
  a(href='#contact')  contact
  |  now for a quote with a
  b  group discount.
