.btn-primary {
  background-color: transparent;
  border: 2px white solid;
  border-radius: 5px;
  height: 100px;
  width: 250px;
  line-height: 100px;
  padding:initial;
  font-size: 1.5em;
  text-align: center;
}

.btn-primary:hover {
  background-color: transparent;
  border: 2px white solid;
}
