// Variables
$body-bg: #fff;
$main-font: 'Arial';

$primary-color: #fff;
$secondary-color: #ff873a;
$light-color: #f4f4f4;
$dark-color: #333;
$highlight: #ffe9d3;
$highlight-hover: #6ca5f1;

$container: 960px;
$section-padding: 50px;
