@import 'variables.scss';

*:focus {
  outline: none;
}
.navbar {
  font-size: 1.2em;
}

.navbar-brand{
  font-size: 1.2em;

}
.title {
  white-space: normal;
}

.sponsors img, .support img {
  margin-right: 5px;
  margin-bottom: 5px;
}

.sponsors img {
  max-width: 250px;
}

.support img {
  max-width: 150px;
}


hr.style-two {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $highlight, rgba(0, 0, 0, 0));
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 75px;
    margin-bottom: 75px;
}

body {
  font-size: 18px;
}

.full-height {
  min-height: 100vh;
}

.headline {
  padding-top: 5px;
}

h1.big-title {
  font-size: 4em;
  margin-top: 10px;
}

font.pink {
  color: $highlight
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.row {
  width: 100%;
  margin:0;
}



span.page-info {
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.btn-info{
  background-color:transparent;
  font-size: 1.3em;
  border-radius: 0px;
  border: 2px grey solid;
  color: grey;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    min-height: 500px;
}

.event-box {
  display: table;
  padding-top: 100px;
}

.event-box-line {
  display: table-cell;
  vertical-align: middle;

}

.event-info {
  float: right;
  margin: 10px;
}

.event-info h3, p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.left {
  float: left;
  margin: 10px;
  line-height: 100%;
}


.wrapper {
    display: inline-block;
    white-space: nowrap;
}

.block {
    white-space: normal;
    vertical-align: middle;
    float: none;

}

.image {
  max-height: 100%;
  max-width: 50%;
}

#main {
  //background-image: url('../img/main-bg-2.jpg');
  width: 100%;
  ////background-repeat: no-repeat;
  ///background-position: center;
  background-color: $secondary-color
}

#support h1.big-title {
  font-size: 2em;
}

#why {
  //background-image: url('../img/why.jpg');
  width: auto;
  background-repeat: no-repeat;
  background-size:contain;
}

#how {
  background-image: url('../img/what.jpg');
  width: auto;
  background-repeat: no-repeat;
}


#footer {
  background-image: url('../img/footer-bg.jpg');
  width: auto;
  background-repeat: no-repeat;
  color: $primary-color;
  padding: 100px;
}

#footer img{
  max-width: 200px;
}

#footer.vertical-center {
  min-height: 0;
  height: auto;
}

.parallax {


  /* Set a specific height */

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-size: cover;
}


.left {
  line-height: 0;
  margin: 0;
}

.slider {
  margin-top: 20px;
}

.btn-primary {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
  background-color: $highlight;
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: $highlight;
}

.programme-btn:focus {
  outline-color: blue !important;
}

.btn-primary:hover {
  background-color: $highlight-hover;
  border-color: $highlight-hover;
}

.tg  {
  border-collapse:collapse;
  border-spacing:10px;
  width:100%;
}
.tg td {
  font-family:'Heebo', sans-serif;
  font-size:1em;
  padding: 20px 20px;
  border-style:solid;
  border-width:3px;
  overflow:hidden;
  word-break:normal;
  border-left: none;
  border-right: none;

}
.tg th {
  font-family:'Heebo', sans-serif;
  font-size:1em;font-weight:bold;
  padding: 20px 20px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-left: none;
  border-right: none;
}

.tg .tg-yw4l{
  vertical-align:top
}

tr.head {
  background-color: $dark-color;
  color: $primary-color;
}

tr.write {
  color: $highlight;
}

table#sunday, table#saturday {
  display: none;
}

#fixedbtn-up, #fixedbtn-reg, #fixedbtn-twitter, #fixedbtn-facebook, #fixedbtn-instagram, .nav-bottom {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $highlight;
    color: $primary-color;
    font-size: 0.9em;
    padding: 10px 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    padding: 5px;
    margin: 0px;
    display: none;
}



#fixedbtn-twitter {
  right: 20px;
  top: 220px;
  display: block;
}

#fixedbtn-facebook {
  right: 20px;
  top: 285px;
  display: block;
}

#fixedbtn-instagram {
  right: 20px;
  top: 350px;
  display: block;
}

#fixedbtn-twitter svg, #fixedbtn-facebook svg, #fixedbtn-instagram svg {
  padding-top: 5px;
  margin-top: 2px;
}

.inner-fixedbtn-up, .inner-fixedbtn-reg, .inner-fixedbtn-twitter, .inner-fixedbtn-facebook, .inner-fixedbtn-instagram {
  line-height: 50px;

}

#fixedbtn-reg {
  right: 80px;
  width: 200px;
  border-radius: 5px;
  font-size: 1.2em;
  line-height: 50px;
  margin: 0px;
  padding: 0px;
  display: none;
}

#fixedbtn-offer {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  display: table;
  transform: rotate(20deg);
  background-color: $highlight;
  color: $primary-color;
  font-size: 1.0em;
  padding: 10px 10px;
  text-align: center;
  padding: 5px;
  margin: 0px;
  margin-top: 2px;
  line-height: 1.2em;
}

#fixedbtn-offer font.small {
  font-size: 0.6em;
}
#fixedbtn-offer font.large {
  font-size: 3em;
  line-height:1.0em;
}

.inner-fixedbtn-offer {
  display: table-cell;
  vertical-align: middle;
}

.nav-bottom {
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 55px;
  width: 100%;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  display: none;

}

.nav-bottom a {
  text-decoration: none;
  color: $primary-color
}

.nav-box {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 1.2em;
}

.nav-box.register {
  border: 1px solid $primary-color;
  padding: 0 5px;
  border-radius: 5px;

}

.team-box {
  float: left;
  margin: 5px;
}

.team-box img {
  border-radius: 150px;
}

//CONTACT FORM

form#contact input, textarea, select {
  width: 100%;
  max-width: 600px;
  margin: 10px 0;
  border-radius: 5px;
  height: 50px;
  padding: 5px;
}

form#contact textarea {
  height: 150px;
}
form#contact input.btn.btn-primary {
  max-width: 150px;
}

.center {
  text-align: center;

}
@media (max-width: 1200px) {
  body {
    font-size: 20px;
  }
  #main {
    background-image: none;
  }
  #why {
    background-image: none;
  }

  #how {
    background-image: none;
  }

  #where {
    background-image: none;
  }
  #fixedbtn-offer {
    display: none;
  }
  .event-box {
    margin-left: 0;
    margin-top: 40px;
  }
  .left svg {
    margin-top: 10px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
  p {
    margin-bottom: 10px;
  }
  h1.main-title {
    font-size: 3em !important;
  }
  div.left{
    display: none;
  }
  #main {
    margin-top: 30px;
  }
  .event-info h3 {
    margin-bottom: 0px;
    font-size: 1.3em;
  }
  .event-info {
    margin-left: 0;
  }
  .event-box {
    padding-top: 0px;
    margin-top: 20px;
  }
  .btn-primary {
    font-size: 1.0em;
  }
  #fixedbtn-up, #fixedbtn-reg, #fixedbtn-twitter, #fixedbtn-facebook, #fixedbtn-instagram {
    display: none;
  }
  .nav-bottom {
    display: none;
    font-size: 1.5em;
  }
  .sponsors img {
    max-width: 200px;
  }
  .support img {
    max-width: 120px;
  }
  .support {
    text-align: cen center;
  }
  .sponsors {
    text-align: center;
  }
}
