@import url('https://fonts.googleapis.com/css?family=Heebo:100,200,400,600,900');
@import 'variables.scss';

body, .event-box {
  font-family: 'Heebo', sans-serif;
}
.navbar {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
}
h1.big-title {
  font-family: 'Heebo', sans-serif;
  font-weight: 900;
  font-size: 3em;
}
h1.main-title {
  font-size: 4em;
}

p.event a {
  color: $light-color;
}

p.event {
  font-size: 1em;
}

p.resource {
  color: $dark-color
}

.btn-primary {
  margin: 5px;

  width: 300px;
  font-size: 1.5em;
}

.btn-primary:hover {
  background-color: $highlight-hover
}

a.btn-primary {
  text-decoration: none;
}
